@keyframes fadeout {
  to {
    color: transparent;
    display: none;
    box-shadow: none;
    background: transparent;
    border-color: transparent;
  }
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  font-size: var(--font-size);
  box-sizing: border-box;
}

.container {
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  width: auto;
  height: 100%;
  flex-direction: var(--flex-direction);
  align-items: var(--align-items);
  justify-content: flex-end;
}


/* button design mainly inspired by https://www.youtube.com/watch?v=M_J3XcG-Bsg */

kbd {
  position: relative;
  font-size: 1.25rem;
  min-width: auto;
  line-height: 1.5;
  margin: 0.375rem 0.375rem 0.375rem 0.875rem;
  padding: 0.5rem 1rem;
  box-shadow: 0 0 var(--chin-color),
              0 0px var(--chin-color),
              0 1px var(--chin-color),
              0 2px var(--chin-color),
              0 3px var(--chin-color),
              0 4px var(--chin-color),
              0 5px var(--chin-color),
              0 6px var(--chin-color),
              0 7px var(--chin-color),
              0 8px var(--chin-color),
              2px 4px 4px var(--shadow-color),
              0 -1px 4px var(--shadow-color);
  background: #fff;
  color: var(--text-color);
  backface-visibility: hidden;
  border: 1px solid var(--border-color);
  border-radius: 0.25rem;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  animation-name: fadeout;
  animation-duration: var(--animation-duration);
  animation-delay: var(--animation-delay);
  animation-fill-mode: forwards;
}

kbd::after {
  content: attr(combo);
  font-size: 0.6rem;
  box-sizing: content-box;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0.2rem;
  color: var(--subtext-color);

  animation-name: inherit;
  animation-duration: inherit;
  animation-delay: inherit;
  animation-fill-mode: inherit;
}