<html lang="en">

<style>
  :root {
  --chin-color: #d9d9d9;
  --shadow-color: #adb5bd;
  --text-color: #343a40;
  --subtext-color: #777;
  --border-color: #e6e6e6;
}
</style>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>subscribe to log off now!!</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/visualizer.css') }}"}>
  <script src="{{ url_for('static', filename='js/visualizer.js') }}"></script>
</head>

<body>
  <div class="container" id="hotkeys-container">
    <kbd>hi lon</kbd>
  </div>
</body>

</html>