name: publish

on:
  push:
    tags:
      - 'v*-release'

permissions:
  contents: write

jobs:
  deploy:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v3
      with:
        ref: ${{ github.ref }}

    - uses: actions/setup-python@v5
      with:
        python-version: '3.11'


    - name: Install Requirements
      run: |
        pip install -r ext/requirements.txt
        pip install pyinstaller

    
    - name: Run PyInstaller
      run: pyinstaller pyinstaller.spec

    - name: Upload Artifact
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: gh release upload "${{ github.ref_name }}" dist/epiclonvisualizer.exe --repo="${GITHUB_REPOSITORY}"